.post-button {
    border: none;
    background-color: white;
}

.user-img>img {
    width: 38px;
    height: 38px;
}

.subtitle {
    color: #6d6d6d;
    text-decoration: none;
    font-size: medium;
}

.card {
    cursor: pointer;
}

.username {
    font-weight: bold;
    padding-left: 0;
    border: none;
    background-color: #fff;
}