.post-button {
    border: none;
    background-color: white;
}

.user-img>img {
    width: 38px;
    height: 38px;
}

.subtitle {
    color: #6d6d6d;
    text-decoration: none;
    font-size: medium;
}

.card {
    cursor: pointer;
}

.username {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .user-img {
        display: flex;
        justify-content: center;
    }
}